<section class="service-one service-one__home-one">
    <div class="container">
        <div class="block-title text-center">
            <p>01. Services</p>
            <h3>Everyone Deserves Our <br> Best Services</h3>
        </div><!-- /.block-title -->
        <div class="row">
            <div class="item col-lg-4 ">
                <div class="service-one__single">
                    <div class="service-one__content">
                        <div class="service-one__icon">
                            <i class="oberlin-icon-stethoscope"></i>
                        </div><!-- /.service-one__icon -->
                        <h3><a href="service-assisted.html">Assisted Living</a></h3>
                        <p>Lorem ipsum dolor sit amet consec turadipicing elit sed eiusmod tempor. </p>
                        <a href="service-assisted.html" class="service-one__link"><i
                                class="far fa-long-arrow-alt-right"></i></a><!-- /.service-one__link -->
                    </div><!-- /.service-one__content -->
                </div><!-- /.service-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="item col-lg-4 ">
                <div class="service-one__single">
                    <div class="service-one__content">
                        <div class="service-one__icon">
                            <i class="oberlin-icon-disability"></i>
                        </div><!-- /.service-one__icon -->
                        <h3><a href="service-details.html">Personal Care</a></h3>
                        <p>Lorem ipsum dolor sit amet consec turadipicing elit sed eiusmod tempor. </p>
                        <a href="service-details.html" class="service-one__link"><i
                                class="far fa-long-arrow-alt-right"></i></a><!-- /.service-one__link -->
                    </div><!-- /.service-one__content -->
                </div><!-- /.service-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="item col-lg-4 ">
                <div class="service-one__single">
                    <div class="service-one__content">
                        <div class="service-one__icon">
                            <i class="oberlin-icon-blind"></i>
                        </div><!-- /.service-one__icon -->
                        <h3><a href="service-residential.html">Nursing Care</a></h3>
                        <p>Lorem ipsum dolor sit amet consec turadipicing elit sed eiusmod tempor. </p>
                        <a href="service-residential.html" class="service-one__link"><i
                                class="far fa-long-arrow-alt-right"></i></a><!-- /.service-one__link -->
                    </div><!-- /.service-one__content -->
                </div><!-- /.service-one__single -->
            </div><!-- /.col-lg-4 -->
        </div>
    </div><!-- /.container -->
</section><!-- /.service-one -->
