<section class="topbar-one topbar-one__inner-page">
    <div class="container">
        <div class="topbar-one__left">
            <a >Our Story</a>
            <a routerLink="">Welcome: {{userFirstName}} {{userLastName}} </a>
            <a *ngIf="userFirstName" (click)="logOut()" routerLink="" >LogOut</a>
        </div><!-- /.topbar-one__left -->
    </div><!-- /.container -->
</section><!-- /.topbar-one -->

<nav class="main-nav-one main-nav-one__inner-page stricky">
    <div class="container">
        <div class="inner-container">
            <div class="logo-box">
                <a routerLink="" class="main-nav-one__logo">
                    <img src="assets/images/light-logo-1-2.png" class="main-nav-one__main-logo" alt="">
                    <img src="assets/images/dark-logo-1-1.png" width="219" class="main-nav-one__mobile-logo" alt="">
                </a>
            </div><!-- /.logo-box -->
            <div class="main-nav__main-navigation">
                <ul class="main-nav__navigation-box">
                    <li><a routerLink="">Welcome</a></li>
                    <li class="dropdown">
                        <a routerLink="">Home</a>
                        <ul>
                            <li><a href="index-2.html">Default Home</a></li>
                            <li><a href="index-3.html">Nursing Home</a></li>
                            <li><a href="index-4.html">Assisted Living</a></li>
                            <li><a href="index-5.html">Palliative Care</a></li>
                            <li><a href="index-6.html">Senior Citizens</a></li>
                            <li><a href="index-rtl.html">Home RTL</a></li>
                            <li class="dropdown">
                                <a href="#">Header Styles</a>
                                <ul>
                                    <li><a href="index-2.html">Header 01</a></li>
                                    <li><a href="index-3.html">Header 02</a></li>
                                    <li><a href="index-4.html">Header 03</a></li>
                                    <li><a href="index-5.html">Header 04</a></li>
                                    <li><a href="index-6.html">Header 05</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="dropdown">
                        <a href="about-1.html">About</a>
                        <ul>
                            <li><a href="about-1.html">About One</a></li>
                            <li><a href="about-2.html">About Two</a></li>
                            <li><a href="team.html">Team Page</a></li>
                        </ul>
                    </li> -->
                    <li class="dropdown">
                        <a href="services.html">Services</a>
                        <ul>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="service-physical.html">Physical Therapy</a></li>
                            <li><a href="service-health.html">Health Care</a></li>
                            <li><a href="service-private.html">Private Nursing</a></li>
                            <li><a href="service-residential.html">Residential Nursing</a></li>
                            <li><a href="service-dementia.html">Dementia Care</a></li>
                            <li><a href="service-assisted.html">Assisted Living</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Pages</a>
                        <ul>
                            <li><a href="story.html">Stroy</a></li>
                            <li><a href="career.html">Career</a></li>
                            <li><a href="living-option.html">Living Options</a></li>
                            <li class="dropdown">
                                <a href="donation-causes.html">Donation</a>
                                <ul>
                                    <li><a href="donation-causes.html">Donation Causes</a></li>
                                    <li><a href="donation-single.html">Donation Details</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="event.html">Events</a>
                                <ul>
                                    <li><a href="event.html">Events</a></li>
                                    <li><a href="event-details.html">Event Deatails</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="portfolio-grid.html">Portfolio</a>
                                <ul>
                                    <li> <a href="portfolio-grid.html">Portfolio Grid</a> </li>
                                    <li> <a href="protfolio-masonary.html">Portfolio Masonary</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="blog-standard.html">News</a>
                        <ul>
                            <li><a href="blog-standard.html">News Standard</a></li>
                            <li><a href="blog-grid.html">News Grid</a></li>
                            <li><a href="blog-details.html">News Details</a></li>
                        </ul>
                    </li>
                    <li  *ngIf="!userFirstName" class="dropdown">
                        <a href="">Contact ..</a>
                        <ul>
                            <li class="dropdown">
                                <a href="#">Sign Up ..</a>
                                <ul>
                                    <li><a routerLink="signupAdmin">Admin</a></li>
                                    <li><a routerLink="signup">Accompagnant</a></li>
                                    <li><a routerLink="signupClient">Client</a></li>
                                </ul>
                            <li><a routerLink="login">Log In</a></li>
                        </ul>
                    </li>
                </ul><!-- /.main-nav__navigation-box -->
            </div><!-- /.main-nav__main-navigation -->
            <div class="main-nav__right">
                <a href="#" class="side-menu__toggler"><i class="fa fa-bars"></i></a>
                <a href="tel:70-2154-215-145" class="main-nav-one__cta">
                    <i class="oberlin-icon-whatsapp"></i>
                    <span>Say Hello </span>
                    <b>70 2154 215 145</b>
                </a><!-- /.main-nav-one__cta -->
            </div><!-- /.main-nav__right -->
        </div><!-- /.inner-container -->
    </div><!-- /.container -->
</nav><!-- /.main-nav-one -->