<section class="faq-three">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="faq-three__image wow fadeInLeft" data-wow-duration="1500ms">
                    <img src="assets/images/shapes/faq-2-dot.png" class="faq-three__image-dots" alt="">
                    <img src="assets/images/resources/faq-2-1.jpg" alt="">
                </div><!-- /.faq-three__image -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="faq-one__block">
                    <div class="block-title text-left">
                        <p class="has-line">03. Why Choose US</p>
                        <h3>Why Most of The People <br> Choose Oberlin</h3>
                    </div><!-- /.block-title -->

                    <p>Our goal each day is to ensure that our residents’ needs are not only met but exceeded.
                        To make that happen we are committed to providing an </p>
                    <div class="accrodion-grp" data-grp-name="career-one__accrodion">
                        <div class="accrodion ">
                            <div class="accrodion-title">
                                <h4>Resort Style Living</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>Our goal each day is to ensure that our residents’ needs are not only
                                        met.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion active">
                            <div class="accrodion-title">
                                <h4>Safety & Security Guaranty</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>Our goal each day is to ensure that our residents’ needs are not only
                                        met.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4>24/7 Nursing Staff</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>Our goal each day is to ensure that our residents’ needs are not only
                                        met.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                    </div>
                </div><!-- /.faq-one__block -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.faq-three -->