<section class="about-three">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-three__content">
                    <div class="block-title">
                        <p class="has-line">02. About Us</p><!-- /.has-line -->
                        <h3>Best Home Care Center <br> with Love</h3>
                    </div><!-- /.block-title -->
                    <p>Our goal each day is to ensure that our residents’ needs are not only met but exceeded.
                        To make that happen, we are committed to providing an environment in which residents can
                        enjoy a wide range of amenities that allow them to feel independent.</p>
                    <div class="row">
                        <div class="col-xl-6">
                            <ul class="blog-details__list list-unstyled">
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    In-House Theater
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Medication Management
                                </li>
                            </ul><!-- /.blog-details__list list-unstyled -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-xl-6">
                            <ul class="blog-details__list list-unstyled">
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    On-Site Physician Services
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Convenient One-Story Design
                                </li>
                            </ul><!-- /.blog-details__list list-unstyled -->
                        </div><!-- /.col-md-6 -->
                        <img src="assets/images/resources/about-1-1-sign.png" alt="">
                    </div><!-- /.row -->
                </div><!-- /.about-three__content -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6 wow fadeInRight" data-wow-duration="1500ms">
                <div class="about-three__image ">
                    <img src="assets/images/shapes/about-dot-3-1.png" class="about-dot-3-1" alt="">
                    <img src="assets/images/resources/about-3-1.jpg" alt="">
                </div><!-- /.about-three__image -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.about-three -->