<section class="event-two">
    <div class="container">
        <div class="block-title text-center">
            <p>04. Next Events</p>
            <h3>Lets Join to Our Next <br> Events</h3>
        </div><!-- /.block-title -->
        <div class="row no-gutters">
            <div class="col-xl-6">
                <div class="event-two__single">
                    <div class="event-two__image">
                        <img src="assets/images/event/event-2-1.jpg" alt="">
                        <a href="event-details.html"><i class="fal fa-plus"></i></a>
                    </div><!-- /.event-two__image -->
                    <div class="event-two__content d-flex">
                        <div class="my-auto">
                            <div class="event-two__date"><b>25</b> <span>Mar</span></div>
                            <!-- /.event-two__date -->
                            <h3><a href="event-details.html">Jogging for the Better Tomorrow</a></h3>
                            <p>Our goal each day is to ensure that our residents.</p>
                        </div><!-- /.my-auto -->
                    </div><!-- /.event-two__content -->
                </div><!-- /.event-two__single -->
            </div><!-- /.col-lg-6 -->
            <div class="col-xl-6">
                <div class="event-two__single">
                    <div class="event-two__image">
                        <img src="assets/images/event/event-2-2.jpg" alt="">
                        <a href="event-details.html"><i class="fal fa-plus"></i></a>
                    </div><!-- /.event-two__image -->
                    <div class="event-two__content d-flex">
                        <div class="my-auto">
                            <div class="event-two__date"><b>25</b> <span>Mar</span></div>
                            <!-- /.event-two__date -->
                            <h3><a href="event-details.html">Walk for Mikado Hospice</a></h3>
                            <p>Our goal each day is to ensure that our residents.</p>
                        </div><!-- /.my-auto -->
                    </div><!-- /.event-two__content -->
                </div><!-- /.event-two__single -->
            </div><!-- /.col-lg-6 -->
            <div class="col-xl-6">
                <div class="event-two__single">
                    <div class="event-two__image">
                        <img src="assets/images/event/event-2-3.jpg" alt="">
                        <a href="event-details.html"><i class="fal fa-plus"></i></a>
                    </div><!-- /.event-two__image -->
                    <div class="event-two__content d-flex">
                        <div class="my-auto">
                            <div class="event-two__date"><b>25</b> <span>Mar</span></div>
                            <!-- /.event-two__date -->
                            <h3><a href="event-details.html">Mountain Camp Cabin in the Woods</a></h3>
                            <p>Our goal each day is to ensure that our residents.</p>
                        </div><!-- /.my-auto -->
                    </div><!-- /.event-two__content -->
                </div><!-- /.event-two__single -->
            </div><!-- /.col-lg-6 -->
            <div class="col-xl-6">
                <div class="event-two__single">
                    <div class="event-two__image">
                        <img src="assets/images/event/event-2-4.jpg" alt="">
                        <a href="event-details.html"><i class="fal fa-plus"></i></a>
                    </div><!-- /.event-two__image -->
                    <div class="event-two__content d-flex">
                        <div class="my-auto">
                            <div class="event-two__date"><b>25</b> <span>Mar</span></div>
                            <!-- /.event-two__date -->
                            <h3><a href="event-details.html">Chess Tournament Final Results</a></h3>
                            <p>Our goal each day is to ensure that our residents.</p>
                        </div><!-- /.my-auto -->
                    </div><!-- /.event-two__content -->
                </div><!-- /.event-two__single -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.event-two -->