<section class="testimonials-two" style="background-image: url(assets/images/background/testimonials-1-bg-1-1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8">
                <div class="testimonials-two__content wow fadeInUp" data-wow-duration="1500ms">
                    <div class="block-title">
                        <p class="has-line">05. Testimonials</p><!-- /.has-line -->
                        <h3>What Our Clients Say <br> About Oberlin?</h3>
                    </div><!-- /.block-title -->
                    <div class="testimonials-two__carousel">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonials-two__single">
                                    <p>Our goal each day is to ensure that our residents needs are not only met
                                        but
                                        exceeded. To make that happen we are committed to providing.</p>
                                    <h3>Rebeka Dawson</h3>
                                    <span>Instructor</span>
                                </div><!-- /.testimonials-two__single -->
                            </div><!-- /.swiper-slide -->
                            <div class="swiper-slide">
                                <div class="testimonials-two__single">
                                    <p>Our goal each day is to ensure that our residents needs are not only met
                                        but
                                        exceeded. To make that happen we are committed to providing.</p>
                                    <h3>Lina Dean</h3>
                                    <span>Instructor</span>
                                </div><!-- /.testimonials-two__single -->
                            </div><!-- /.swiper-slide -->
                            <div class="swiper-slide">
                                <div class="testimonials-two__single">
                                    <p>Our goal each day is to ensure that our residents needs are not only met
                                        but
                                        exceeded. To make that happen we are committed to providing.</p>
                                    <h3>Leon Cortez</h3>
                                    <span>Instructor</span>
                                </div><!-- /.testimonials-two__single -->
                            </div><!-- /.swiper-slide -->
                        </div><!-- /.swiper-wrapper -->
                    </div><!-- /.testimonials-two__carousel -->
                    <div class="testimonials-two__thumb-carousel-wrap">
                        <div class="testimonials-two__thumb-carousel">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="assets/images/resources/testi-3-1.jpg" alt="">
                                </div><!-- /.swiper-slide -->
                                <div class="swiper-slide">
                                    <img src="assets/images/resources/testi-3-2.jpg" alt="">
                                </div><!-- /.swiper-slide -->
                                <div class="swiper-slide">
                                    <img src="assets/images/resources/testi-3-3.jpg" alt="">
                                </div><!-- /.swiper-slide -->
                            </div><!-- /.swiper-wrapper -->
                        </div><!-- /.testimonials-two__thumb-carousel -->
                    </div><!-- /.testimonials-two__carousel-wrap -->

                </div><!-- /.testimonials-two__content -->
            </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.testimonials-two -->