<app-banner title="User Information"></app-banner>

<div class="container margin-top:20px">
    <div class="row">
        <div class="col-lg-4 col-xl-4">
            <div class="card-box text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                    class="rounded-circle avatar-xl img-thumbnail" alt="profile-image">

                <h4 class="mb-0">NAME</h4>
                <p class="text-muted">ROLE</p>
                <!-- <button type="button" class="btn btn-success btn-xs waves-effect mb-2 waves-light">Follow</button>
                <button type="button" class="btn btn-danger btn-xs waves-effect mb-2 waves-light">Message</button> -->
                <div class="text-left mt-3">
                    <h4 class="font-13 text-uppercase">About Me :</h4>
                    <p class="text-muted font-13 mb-3">
                        Hi I'm Johnathn Deo,has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type.
                    </p>
                </div>
                <ul class="social-list list-inline mt-3 mb-0">
                    <li class="list-inline-item">
                        <a href="javascript: void(0);" class="social-list-item border-purple text-purple"><i
                                class="fab fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i
                                class="fab fa-google"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript: void(0);" class="social-list-item border-info text-info"><i
                                class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i
                                class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div> <!-- end card-box -->
        </div> <!-- end col-->
        <div class="col-lg-8 col-xl-8">
            
            
         
           
             

        </div> 
    </div>
</div>

















<!-- <div class="col-lg-4">
    <app-user [userInfo]="userInput"></app-user>
</div> -->
<!-- <div class="row">
    <div class="col-lg-6 block-title">
        <div class="donation-one__single">
            <div class="donation-one__image">
                <img [src]="userInput.avatar" width="300px" height="400px" alt="">
                <a routerLink="userInput.cv">CV<i class="fal fa-plus"></i></a>
            </div>
            <div class="donation-one__content">
                <h4><a >Name:{{userInput.firstName}} {{userInput.lastName}}</a></h4>
                <h3><a >Role:{{userInput.role}}</a></h3>
                <p>Email: {{userInput.email}}</p>
                <p>Adress: {{userInput.adress}}</p>
                <p>Tel: {{userInput.tel}}</p>
                <div *ngIf="userInput.exp" class="donation-one__progress">
                    <b style="left: 12%;">Experience: {{userInput.exp}} years</b>
                    <span style="width: 12%;"></span>
                </div>
                <div class="justify-content-center">
                    <button class="thm-btn ">Delete</button>
                    <button class="thm-btn ">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div> -->